@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Italic";
  src: url("../fonts/ubuntu/Ubuntu-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Light-Italic";
  src: url("../fonts/ubuntu/Ubuntu-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Medium-Italic";
  src: url("../fonts/ubuntu/Ubuntu-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Bold-Italic";
  src: url("../fonts/ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
.portfolio {
  width: 100%;
  height: 976px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.portfolio__container {
  width: 97%;
  height: 976px;
}
.portfolio__header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio__header_title {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 50px;
}
.portfolio__header_text {
  font-size: 20px;
  font-weight: 400;
  color: hsl(48, 7%, 59%);
  margin-right: 188px;
}
.portfolio__slider_container {
  width: 100%;
  height: 845px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__slider_wrapper {
  width: 97%;
  height: 772px;
  border-radius: 55px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.portfolio__slider_controls {
  width: 100%;
  height: 44px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.portfolio__slider_controls_track {
  width: 25%;
  height: 10px;
  border-radius: 30px;
  background-color: #FFFFFF;
  display: flex;
  overflow: hidden;
}
.portfolio__slider_controls_fill {
  height: 100%;
  background-color: hsl(23, 86%, 59%);
  transition: width 0.3s ease;
}
.portfolio__slider_wrapper_title {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  transition: color 0.6s ease;
}

.slider__left_icon {
  transform: rotate(180deg);
}

.portfolio__slider_left_control,
.portfolio__slider_right_control {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #F0813E;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider__left_icon,
.slider__right_icon {
  transition: transform 0.3s ease;
}

.portfolio__slider_right_control:hover .slider__right_icon {
  transform: translateX(3px);
}

.portfolio__slider_left_control:hover .slider__left_icon {
  transform: rotate(180deg) translateX(3px);
}

.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__wrapper_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.35s ease, transform 0.35s ease;
  pointer-events: none;
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__wrapper_overlay_container {
  width: 100%;
  height: 20%;
  position: absolute;
  margin: 20% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_overlay_img {
  transition: opacity 0.35s ease;
  z-index: 2;
  opacity: 0;
}

.portfolio__slider_wrapper:hover .slider__wrapper_overlay,
.portfolio__slider_wrapper:hover .wrapper_overlay_img {
  opacity: 1;
  transform: translateY(0);
}

.portfolio__slider_wrapper:hover .portfolio__slider_wrapper_title {
  color: #F0813E;
}

.modal__gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.modal__image {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
  animation: fadeIn 0.3s ease-in-out;
}

.modal__nav_button {
  font-size: 3rem;
  background: none;
  border: none;
  color: #ff914d;
  cursor: pointer;
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.modal__image {
  object-fit: contain;
}

/*# sourceMappingURL=Portfolio.module.css.map */
