@use '../../../../../assets/styles/main' as *;

.fact__card {
  width: 25%;
  height: 156px;
  border-top: 1px solid hsla(48, 7%, 59%, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  &_title {
    font-size: $font-size-secondary-title;
    text-transform: uppercase;
  }

  &_text {
    font-size: $font-size-tertiary-title;
    color: $color-orange;
    text-transform: uppercase;
  }
}
