@use '../../../assets/styles/main' as *;

.advantages {
  width: 100%;
  height: 430px;
  margin-top: 150px;
  display: flex;
  justify-content: center;

  &__container {
    width: 97%;
    height: 100%;
    border-radius: 55px;
    background-color: hsla(0, 0%, 14%, 1);
    display: flex;
    flex-direction: column;
  }

  &__header {
    height: 30%;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    display: flex;
    align-items: flex-start;
    padding: 50px 0 0 50px;
  }

  &__header_title {
    font-size: $font-size-secondary-title;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__facts {
    height: 70%;
    gap: 40px;
    padding: 0 40px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: flex;
    align-items: center;
  }
}
