@use '../../../../../assets/styles/main' as *;

.testimonial {
  flex: 0 0 33%;
  height: 262px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    flex: 0 0 90%;
    height: 214px;
  }
  &__container_header {
    width: 100%;
    height: 40px;
  }
  &__text_wrapper {
    width: 100%;
    height: 92px;
    margin-top: 16px;
  }
  &__container_footer {
    width: 100%;
    height: 50px;
    margin-top: 16px;
  }
}
.wrapper_text {
  font-size: $font-size-large-text;
  font-weight: 400;
  color: $color-black;
}
.footer__user_info {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.user__info_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user__info_name {
  font-size: $font-size-large-text;
  font-weight: 500;
  color: $color-black;
}