@use '../../../assets/styles/main' as *;

.solutions {
  width: 100%;
  height: 1500px;
  display: flex;
  justify-content: center;
  margin-top: 150px;

  &__container {
    width: 97%;
    height: 100%;
    border-radius: 55px;
  }

  &__header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }

  &__header_title {
    font-size: $font-size-secondary-title;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__header_text {
    font-size: $font-size-large-text;
    color: $color-light-gray;
    margin-top: 5px;
    margin-right: 188px;
  }

  &__section_cards {
    width: 100%;
    height: 1304px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.card_highlight {
  color: $color-white;
}
