@use '../../assets/styles/main' as *;

.input__primary {
  width: 210px;
  height: 60px;
  border-radius: 15px;
  border: none;
  padding-left: 20px;
  background-color: $color-white;
  color: hsla(48, 7%, 59%, 1);
  cursor: pointer;
}
.input__secondary {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  border: none;
  padding-left: 20px;
  padding-bottom: 100px;
  background-color: $color-white;
  color: hsla(48, 7%, 59%, 1);
  cursor: pointer;

}