html, body {
  width: 100%;
  height: 100%;
  background-color: black;
  scrollbar-width: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu-Regular', sans-serif;
  color: #FFFFFF;
}
#root {
  height: 100%;
  width: 100%;
}
