// color
$color-white: #FFFFFF;
$color-black: #0B0B0B;
$color-dark-gray: #252525;
$color-light-gray: #9E9B90;
$color-orange: #F0813E;

// hover
$color-white-hover: #9E9B90;
$color-orange-hover: hsla(23, 79%, 54%, 1);