// ==============================
// Typography: Web
// ==============================

// title
$font-size-primary-title: 90px;
$font-size-secondary-title: 80px;
$font-size-tertiary-title: 30px;
$font-size-table-title: 65px;

// text
$font-size-large-text: 20px;
$font-size-regular-text: 16px;

// caption
$font-size-large-caption: 18px;
$font-size-small-caption: 12px;

// input
$font-size-input: 16px;


// ==============================
// Typography: Mobile
// ==============================

// title
$font-size-primary-title-mobile: 35px;
$font-size-secondary-title-mobile: 18px;
