@use '../../assets/styles/main' as *;

.footer {
  width: 97%;
  height: 62px;
  border-top: 1px solid hsla(48, 7%, 59%, 1);
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: $font-size-small-caption;
    color: hsla(48, 7%, 59%, 1);
  }

  &__link {
    font-size: $font-size-small-caption;
    color: hsla(48, 7%, 59%, 1);
  }
}
